<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Ps.Iso.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <userSettings>
    <Ps.Iso.Viewer.Properties.Settings>
      <setting name="BoundsSet" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="Bounds" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="openIsoFileDlg_FilterIndex" serializeAs="String">
        <value>-1</value>
      </setting>
      <setting name="tbOpenIsoFile_Visible" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EditOnEnter" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="gridFields_SortedColumn_Name" serializeAs="String">
        <value>colNumber</value>
      </setting>
      <setting name="gridFields_SortDirection" serializeAs="String">
        <value>Ascending</value>
      </setting>
    </Ps.Iso.Viewer.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.4.8.0" newVersion="2.4.8.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup></configuration>
