<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Ps.Iso.Viewer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Ps.Iso.Viewer.Properties.Settings>
            <setting name="MainFormWidth" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormHeight" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormTop" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="MainFormLeft" serializeAs="String">
                <value>-1</value>
            </setting>
        </Ps.Iso.Viewer.Properties.Settings>
    </userSettings>
</configuration>